In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error

In [26]:
train = pd.read_csv('dataset/train.csv')

In [27]:
test = pd.read_csv('dataset/test.csv')

In [28]:
x = train.pop('Real Lower Band')
y = train.pop('Price')
x_pred = test.pop('Real Lower Band')
del train, test

In [29]:
x = x.replace(np.nan, 0)

In [30]:
x

0          0.0000
1          0.0000
2          0.0000
3          0.7500
4          2.5000
5          3.0700
6          0.6900
7          2.6300
8          4.0000
9          0.5000
10         3.5000
11         2.8100
12         1.1300
13         3.0000
14         4.5700
15         0.4400
16         4.8800
17         2.7400
18         0.7500
19         3.0000
20         3.6300
21        15.1244
22        52.5400
23       128.7093
24        15.2219
25        53.1195
26       130.0830
27        15.3175
28        53.6700
29       131.8305
           ...
11967    513.0575
11968    341.5156
11969     36.6242
11970    514.5384
11971    345.1749
11972     36.6263
11973    514.6475
11974    347.6869
11975     36.5976
11976    515.3237
11977    349.9198
11978     36.6102
11979    512.7241
11980    355.9422
11981     36.7209
11982    506.8797
11983    357.4731
11984     36.7258
11985    501.8592
11986    354.6214
11987     36.7001
11988    500.2098
11989    355.4769
11990     36.6946
11991    500.6753
11992    358.6281
11993     36.8967
11994    502.4423
11995    361.9049
11996     37.0361
Name: Real Lower Band, Length: 11997, dtype: float64

In [31]:
x_train, x_test, y_train, y_test = train_test_split(np.array(x), np.array(y), test_size=0.2, random_state=42)

In [34]:
model = LinearRegression().fit(x_train.reshape(-1,1), y_train)
y_pred = model.predict(x_test.reshape(-1,1))

In [35]:
error = mean_absolute_error(y_test, y_pred)

In [36]:
print(error)

5.548640711911293

In [37]:
model = LinearRegression().fit(np.array(x).reshape(-1,1), np.array(y))
y_pred = model.predict(np.array(x_pred).reshape(-1,1))

In [38]:
submission = pd.read_csv('dataset/Sample_Submission.csv')
submission.head()

      ID  Price
0  12001      0
1  12002      0
2  12003      0
3  12004      0
4  12005      0

In [39]:
submission['Price'] = y_pred

In [40]:
submission.sample(5)

         ID       Price
1043  13044   43.073497
344   12345   43.311807
3969  15970  178.470657
2469  14470  146.334699
1891  13892  746.079943

In [41]:
submission.to_csv('Baseline_Linear_Model.csv', index=False)